
body{
    background:yellow
}
.mytr{
    background:green
}
.b{
    background:blue
}
h3{
    margin-left:300px;
    margin-right:200px;
    margin-top:250px;
}
.mydiv{
    border:1px  solid black;
    background-color:green;
    width:500px;
    margin-left:100px;
}